@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    padding-top: 80px;
}

:root{
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
}

header {
    position: fixed; /* Make the header fixed position */
    top: 0; /* Align it to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background: #0082e6; 
    /* Removed the second background property to avoid conflict */
    color: var(--textColor);
    margin-bottom: 100px;
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    /* background: #0082e6; */
    font-weight: bold;

}

nav a:hover{
    /* color: var(--secondaryColor); */
    background: #1b9bff;
    transition: .5s;
    padding: 8px;
}

label.logo{
    color: var(--textColor);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
}



header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mainColor);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100vh);
        transition: 1s;
        gap: 1.5rem;
    }

    header .responsive_nav{
        transform: none;
    }

    header .fixed_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--mainColor);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000; /* Ensure it's above other content */
        transition: transform 0.3s ease-in-out;
    }
    
    .footer {
        position: fixed;
        background-color: gray;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 8px;
        text-align: center;
      }

}