.rotating-banner {
    width: 100%;
    overflow: hidden;
    position: relative; /* Add relative positioning */
    max-height: 300px;
    /* Add any other styles you want for the container */
  }
  
  .rotating-banner img {
    width: 100%;
    height: auto;
    display: none;
  }
  
  .rotating-banner img.active {
    display: block;
  }
  
  .banner-buttons {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the buttons horizontally */
    z-index: 1; /* Ensure buttons are above images */
  }
  
  .banner-button {
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px; /* Adjust the spacing between buttons */
    cursor: pointer;
  }
  